# Set up

In [0]:
# make sure it's python 3.5
import sys
sys.version_info >= (3,5)

# make sure it's sklearn 2.0 and later
import sklearn
sklearn.__version__ >= '0.20'

# common imports
import os
import numpy as np

# setting figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

# saving figures
PROJECT_ROOT_DIR = '.'
PROJECT_ID = 'bank_debt_analysis'
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, 'images', PROJECT_ID)
os.makedirs(IMAGES_PATH, exist_ok=True)

def save_fig(fig_id, fig_extension='png', tight_layout=True, dpi=300):
  path = os.path.join(IMAGES_PATH, fig_id + '.' + fig_extension)
  print('Saving pictures: ', fig_id)
  if tight_layout:
    plt.tight_layout()
  plt.savefig(path, dpi=dpi, format=fig_extension)

# Get data

In [0]:
import os
import urllib

# set up the directory
URL_PATH = 'https://raw.githubusercontent.com/AilingLiu/Which-Debts-Are-Worth-the-Bank-s-Effort/master/datasets/bank_data.csv'
DATA_PATH = os.path.join('datasets', 'bank_debt')

def fetch_data(url=URL_PATH, file_path=DATA_PATH):
  if not os.path.isdir(file_path):
    os.makedirs(file_path)
  path=os.path.join(file_path, 'bank_debt.csv')
  urllib.request.urlretrieve(url,path)

In [0]:
fetch_data()

In [0]:
import pandas as pd

def load_data():
  path = os.path.join(DATA_PATH, 'bank_debt.csv')
  return pd.read_csv(path)

In [12]:
debt = load_data()
debt.head()

     id  expected_recovery_amount  ...  age     sex
0  2030                       194  ...   19    Male
1  1150                       486  ...   25  Female
2   380                       527  ...   27    Male
3  1838                       536  ...   25    Male
4  1995                       541  ...   34    Male

[5 rows x 6 columns]